numpy-financial
llama-index 
plotly
Babel
statsmodels
certifi==2021.10.8
charset-normalizer==2.0.12
streamlit_antd_components 
click==8.0.4
Deta
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
matplotlib
requests==2.27.1
llama-index 
openai
python-dotenv==0.19.2
langchain
certifi==2021.10.8
charset-normalizer==2.0.12
streamlit_antd_components 
click==8.0.4
PdfReader
python-dotenv==0.19.2
pdfplumber
PyPDF2
tiktoken
faiss-gpu
numexpr
tabulate
html2text
langchain
